*{
    margin: 0;
    padding: 0;
}
.main{
   width: 100%; 
   background-color: #fee92e;
   background-size: cover;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    
}
.icon{
    width: 220px;
    float: left;
    height: 170px;
}
.logo{
    color: black;
    font-size: 55px;
    font-family:  Georgia;
    padding-left: 25px;
    float: left;
    padding-top: 15px;

}
.menu{
    width: 400px;
    float: right;
    height: 70px;
}
ul{
    background-color: white;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 55px;
    margin-top: -75px;
    font-size: 18px;

}
ul li a{
    text-decoration: wavy;
    color: black;
    font-family: Helvetica;
    font-weight: bolder;
    transition: 0.6s ease-in-out;
}
ul li a:hover{
    color: blue;
}
.search{
    display: inline-flex;
    align-items: center;
    background-color: blue;
    color: rgb(237, 237, 240);
    padding: 10px;
    border-radius: 1px;
    border: 1px groove #0e0d0d;
}
.search :is(input,button){
    background: solid blue;
    color: inherit blue;
    border: none;
    outline: none;
}
.searchinput{
    width: 0;
    transition: width 0.5s;
}
.searchbutton{
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    left: 567px;
    cursor: pointer;
    transition: color 0.25s;
}
.searchbutton:hover{
    color: black;
}
.search:focus-within input{
    width: 200px;
}
::placeholder{
    font: inherit;
    color: black;
}
.gallery1{
    position: sticky;
    top: 45px;
}
.content h1{
    width: 1600px;
    color: #0e0e0e;
    font-size: 16px;
    font-family: Georgia;
    height: auto;
    margin: auto;
    position: relative;
    padding-top: 26px;
    padding-left: 660px;
    top: -26px;
    
}


.content h2{
    color: blue;
    font-size: 66px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 450px;
    top: 189px
    
    
}
.content .par{
    font-family: Haettenschweiler;
    color: blue;
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 670px;
    padding-top: -90px;
    top:200px
}
.paragraph span{
    display: block;
    opacity: 0;
    animation: reveal 0.8s forwards var(--d);
}
@keyframes reveal{
 from{
    transform: translateY(20px);
 }
 to{
    opacity: 1;
    transform: none;
 }
}
.paragraph{
    position: relative;
    top: 20px;
    color: #0c0c0c;
    font-size: 26px;
    left: 417px;
    background-color: none;
    width: fit-content;

}
.box{
    background-color: rgb(234, 234, 238);
    color: #000;
    width: 700px;
    height: 370px;
    position: absolute;
    left: 56px;
    top: 1007px;
    box-shadow: 2px 4px 6px black;
}
.box h3{
    color: black;
    padding-left: 227px;
    padding-top: 29px;
    font-size: 40px;
}
.box .paragraph{
    left: 16px;
    color: black;
    font-size: 20px;
    font-family: Georgia;

}
.btn{
    width: 100px;
    height: 20px;
    background: #fee92e;
    border: groove;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: grab;
    color: #fee92e;
    font-style: italic;
    font-family: Georgia;
    font-size: smaller;
    text-decoration: none;
    box-shadow: 1px 2px #fee92e;
}
.content .btn a{
    text-decoration: none;
    color: #000;
    transition: .4s ease-in-out;
    text-decoration: none;
}
.btn:hover{
    background: blue;
    box-shadow: 0 0 4px blue
    0 0 16px blue 0 0 32px blue;
}
.content .btn {
    text-decoration: none;
    color: #000;
    transition: .4s ease-in-out;
    font-weight: bolder;
}
.box2{
    background: rgb(234, 234, 238);
    position: relative;
    left: 823px;
    top: 130px;
    width: 600px;
    height: 370px;
    box-shadow: 2px 4px 6px black;
}
.box2 h4{
    color: black;
    padding-left: 227px;
    padding-top: 29px;
    font-size: 40px;  
}
.box2 .card{
    width: 100px;
    height: 100px;
    background: #fee92e;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    transition: 0.05s ease-in;
}
.card .mail{
position: absolute;
right: 2rem;
top: 1.4rem;
background: transparent;
border: black;
}
.card .mail svg{
    stroke: blue;
    stroke-width: 3px;
}
.card .bottom{
    position: absolute;
    bottom: 3px;
    left: 3px;
    background: #0c0c0c;
    top: 80px;
    z-index: 2;
    overflow: hidden;
    transition: all 0.5S;
}
.card .bottom .paragraph{
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 170px;
}
h5{
    font-size: 26px;
    top: 250px;
    left: 634px;
    position: relative;

}
.box3{
    background: rgb(234, 234, 238);
    position: relative;
    left: 573px;
    top: 290px;
    width: 300px;
    height: 200px;
    box-shadow: 2px 4px 6px black;
}
.icon a{
    text-decoration: none;
    color: #e9dcdc;font-size: 18px;
    padding-left: 18px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon{
    color: #ebe1e1;
    background-color: #000;
    font-size: 90px;
}
.icons ion-icon:hover{
   background-color: #e99e13;
   color: #f3a20a;
   transition-duration: 0.8s ease;
   transition: all;

}
